In [4]:
import pandas as pd

In [17]:
data = pd.read_csv('https://raw.githubusercontent.com/koueihei/Project-for-math-data-skills-YG/main/Data_and_code/MacroData.csv')
data = data.assign(Dates=pd.to_datetime(data.Dates)).set_index('Dates')
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6252 entries, 2002-01-11 to 2022-01-10
Data columns (total 22 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Average daily coal consumption                       3916 non-null   float64
 1   Operating rate of blast furnaces                     475 non-null    float64
 2   All-steel wheel operating rate                       414 non-null    float64
 3   Semi-steel wheel operating rate                      410 non-null    float64
 4   Polyester filament operating rate                    508 non-null    float64
 5   PTA operating rate                                   413 non-null    float64
 6   Average daily output of crude steel                  459 non-null    float64
 7   Commercial housing transaction area of 30 cities(D)  4392 non-null   float64
 8   Commercial housing transaction area of 30 cities(W)  628 non-null    float64
 9   Cement Price Index                                   2402 non-null   float64
 10  Average Daily Sales of Passenger Car(Wholesale)      334 non-null    float64
 11  Average Daily Sales of Passenger Car(Retail)         342 non-null    float64
 12  Keqiao Textile Price Index                           696 non-null    float64
 13  CCFI composite index                                 1018 non-null   float64
 14  Edible Agricultural Products Price Index             622 non-null    float64
 15  Production price index                               438 non-null    float64
 16  WTI spot price                                       4568 non-null   float64
 17  Output: Rebar                                        354 non-null    float64
 18  Output:Wire Rod                                      354 non-null    float64
 19  Output:Hot Rolled Coil                               99 non-null     float64
 20  Output: Cold Rolled Coil                             99 non-null     float64
 21  Output: Plate                                        99 non-null     float64
dtypes: float64(22)
memory usage: 1.1 MB

In [20]:
keys = ('s1','s2','s3','s4','s5','s6','s7','d1','d2','d3','d4','d5','d6','d7','p1','p2','p3','s8','s9','s10','s11','s12')
indexing = dict(zip(data.columns.to_list(),keys))

In [22]:
data.rename(columns = indexing)

            s1  s2     s3     s4     s5  ...      s8      s9     s10    s11     s12
Dates                                    ...
2002-01-11 NaN NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN    NaN     NaN
2002-01-18 NaN NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN    NaN     NaN
2002-01-25 NaN NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN    NaN     NaN
2002-02-01 NaN NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN    NaN     NaN
2002-02-08 NaN NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN    NaN     NaN
...         ..  ..    ...    ...    ...  ...     ...     ...     ...    ...     ...
2022-01-06 NaN NaN  52.03  60.05  50.99  ...     NaN     NaN     NaN    NaN     NaN
2022-01-07 NaN NaN    NaN    NaN    NaN  ...  280.53  130.56  305.82  81.67  129.28
2022-01-08 NaN NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN    NaN     NaN
2022-01-09 NaN NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN    NaN     NaN
2022-01-10 NaN NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN    NaN     NaN

[6252 rows x 22 columns]